.sideMenuDefault{
    position: fixed;
    width: 0vw;
    height: 70vh;
    background: rgb(74, 126, 126);
}

.sideMenuActive{
    position: fixed;
    background: #403327;
    width: 100vw;
    height: 70vh;
    transition: width .2s ease-in;
}

.accountStatsIcon{
    color: #fff;
}